<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freelancer.bakarbakar">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".featureCollection_List"></activity>
        <activity android:name=".HomeScreen" />
        <activity android:name=".Login.OtpVerificationScreen" />
        <activity android:name=".Login.SignUpScreen" />
        <activity android:name=".Login.LoginScreen" />
        <activity android:name=".Login.frag_top_listenerGrid" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>